body {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    background-color: rgb(254, 245, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}

/* #formatação do cabecalho */

header {
    margin: 0px;
    background: rgb(1, 75, 136);
    background: linear-gradient(90deg, rgba(1, 75, 136, 1) 2%, rgba(1, 75, 136, 1) 9%, rgba(5, 81, 139, 1) 37%, rgba(90, 195, 190, 1) 92%, rgba(90, 195, 190, 1) 100%);
    color: white;
    text-align: center;

    
}

header#cabecalho_master div#cabecalho .imglogo {
    width: 120px;
}

header#cabecalho_master div#cabecalho span.titulo_cabecalho {
    font-size: 100px;
    font-weight: bold;
    margin-left: 20px;
}

.container_inf h1{
    text-align: center;
}
.container_inf{
    height: 550px;
    margin: 1px;
    border-radius: 10px;
    padding: 5px;
}
.container_informacao{
    margin-left: 20px;
    width: 600px;
   
}


.container_informacao h1{
    font-size: 50px;
}
.statusQtd{
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 2.0em;
}
#envio{
    padding-left: 40px;
    position:absolute;
    left: 630px;
    top: 126px;
    border-left: 1px solid black;
}

.negado{
    color: #fff;
    background-color: #dc3545;
}
.entregue{
    color: #fff;
    background-color: #28a745;
}
.pendente{
    color: #fff;
    background-color: #17a2b8;
}
.preparo{
    color: #000;
    background-color: #ffc107;  
}



